@using Denetim_Takip_Sistemi.Models.EntityFramework
@model kullanici
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js"></script>
    <link rel="stylesheet" href="~/Content/css/dogrulamakodu.css" />
    <title>Doğrulama Kodu</title>
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                @using (Html.BeginForm("Dogrulama", "ForgotPassword", FormMethod.Post, new { @class = "sign-in-form" , autocomplete="off"}))
                {
                    <h2 class="title">Doğrulama Kodu</h2>
                    <p>E-Mail adresinize doğrulama kodu gönderilmiştir.</p>
                    <span style="color:red"> @ViewBag.Mesaj </span>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        @Html.TextBox("Dogrulama", null, new { @type = "text" })
                    </div>
                    <input type="submit" value="Kaydet" class="btn_dogrula" />
                }
            <div class="row">
                <br />
                @using (Html.BeginForm("KodGonder", "ForgotPassword", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("Email", null, new { @value = "" + @ViewBag.Email + "" })
                    <input type="submit" value="Yeniden Gönder" class="btn_dogrula" />
                }
            </div>
            </div>
        </div>
    </div>
    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>LOGO</h3>
                <p>
                    Denetim Takip Sistemi
                </p>
            </div>
        </div>
    </div>



    <script src="app.js"></script>
</body>
</html>
